# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js build junk (keep standalone + static for Dockerfile.standalone)
.next/**
!.next/standalone/**
!.next/static/**
out

# git / ide
.git
.gitignore
.cursor
.vscode
*.md
!README.md

# env / local
.env*
!.env.example

# misc
coverage
.DS_Store
*.pem
